# Archivos y carpetas generadas por Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.vs/

# Archivos de compilación
*.exe
*.dll
*.pdb

# Archivos temporales
*.log
*.tmp

# Archivos de configuración locales
*.vscode/
